OPENAI_API_KEY="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"
OPENAI_MODEL=gpt-4o-mini  # OpenAI model with both text and vision capabilities
TEMPERATURE=0.7  # Float between 0.0 and 1.0
MAX_TOKENS=10000
IMAGE_MAX_WIDTH=480
VERBOSE=True  # True or False
