OPENAI_API_KEY=<key>
OPENAI_MODEL=gpt-4o-mini  # OpenAI model with both text and vision capabilities
TEMPERATURE=0.7  # Float between 0.0 and 1.0
MAX_TOKENS=10000
IMAGE_MAX_WIDTH=480
VERBOSE=True  # True or False
LOGGER_NAME=Capstone  # This project's logger name, will be used as is provided without changing case to lower or upper
PYCRAM_API_HOST=http://192.168.1.64:8001
SYSTEM_MESSAGE_FILE=./system_message.txt
REQUESTS_TIMEOUT=60  # Seconds
