.vscode/

__pycache__/

.chainlit/
.files/

venv/

.env

# addd the enhanced_images folder to the gitignore file
enhanced_images/

# add items that end with .png to the gitignore file
*.png

test_report.*
